# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.name
.idea/workspace.xml
arc_flags/doc/
arc_log/CMakeLists.txt~
arc_plot/examples/CMakeLists.txt~
arc_test/arc_test1.cc~
arc_test/data/
cmake-build-debug/
lib/
windows/arc.vcxproj.filters~
windows/arc.vcxproj~

/arc_pf/sample1/
/arc_pf/sample2/
/arc/src/arc_ObservationModel.cpp
/arc/src/arc_MovementModel.cc
/arc/src/arc_PF_SRTK.cpp
/arc/src/arc_States.cc
/arc/src/arc_StatesDistribution.cpp
/arc/include/arc_PF.h
/arc/include/arc_source_file_pos.hpp
/arc/include/arc_ObservationModel.h
/arc/include/arc_assert_macros.hpp
/arc/include/arc_StateDistribution.h
/arc/include/arc_MovementModel.h
/arc/include/arc_States.h
"Particle \357\254\201lter-based estimation of inter-system phase bias for realtime integer a.pdf"
/arc_flags/
!/arc_pf/lib/
!/arc_pf/lib/include/
/arc_pf/lib/
