# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.name
.idea/workspace.xml
arc_flags/doc/
arc_log/CMakeLists.txt~
arc_plot/examples/CMakeLists.txt~
arc_test/arc_test1.cc~
arc_test/data/
cmake-build-debug/
lib/
windows/arc.vcxproj.filters~
windows/arc.vcxproj~

/arc_pf/sample1/
/arc_pf/sample2/
"Particle \357\254\201lter-based estimation of inter-system phase bias for realtime integer a.pdf"
/arc_flags/
!/arc_pf/lib/
!/arc_pf/lib/include/
/arc_pf/lib/
arc_papers/
